@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');


:root{
    --fontnormal: font-family: 'Staatliches', cursive;
    --fonttitle: font-family: 'Fredericka the Great', cursive;
    --whithe: rgb(254, 255, 254);
    --green: rgb(53, 255, 105);
    --blackin: rgb(0, 0, 0);
}

header{
    text-align: center;
}

.title{
    background-color: var(--green);
    font-family:'Fredericka the Great', cursive;

    
}