@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
:root{
    --font-normal: font-family: 'Staatliches', cursive;
    --font-title: font-family: 'Fredericka the Great', cursive;
    --cor1: rgb(254, 255, 254)
}