@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@font-face {
    font-family: bebas, sans-serif;
    src: url();
}


:root{
    --fontnormal: 'Staatliches', cursive;
    --fonttitle:  'PT Sans', sans-serif;
    --whithe: rgb(254, 255, 254);
    --green: rgb(255, 75, 62);
    --blackin: rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
}

.title{
    background-color: var(--green);
    color: white;
    font-family:var(--fonttitle);
    font-weight: bolder;
    font-size: 2.4em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
