@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
@media only screen and (max-device-widht: 900px) {
  .infos {
    width: 100%;
  }
}
@font-face {
  font-family: bebas, sans-serif;
  src: url(fontes/BebasNeue-Regular.otf);
}

:root {
  --fontnormal: "Staatliches", cursive;
  --fonttitle: "PT Sans", sans-serif;
  --whithe: rgb(254, 255, 254);
  --bleu: #1895ED;
  --blackin: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--bleu);
  margin-bottom: 15px;
}

h1 {
  color: white;
  font-family: bebas, sans-serif;
  font-size: 3vw;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 35px;
  text-shadow: 3px 3px 2px rgba(8, 8, 8, 0.289);
}

nav > a{
    font-family: var(--fontnormal);
    color: #1895ED;
    margin-left: 10px;
}

h2{
    font-family: var(--fontnormal);
    margin: 20px;
}

section{
    margin: auto;
    text-align: center;
    margin-top: 90px;
    border-style: ridge;
    border-color: #1895ED;
    border-radius: 10px;
    min-width: 200px;
    width: 460px;
    height: auto;
    padding: 10px;
}

.number{
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 200px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    border-color: #1895ED;
}

.button{
    width: 140px;
    height: 26px;
    border-radius: 10px;
    border-color: var(--bleu);
    background-color: var(--bleu);
    color: white;
    font-family: var(--fontnormal);
    font-size: 16px;
    text-decoration: none;
}

.button:hover{
    text-decoration: underline;
}

#res{
  padding: 18px;
  font-size: 22px;
}


